/**------------- TOP --------------**/

body {
    font-family: 'Courier New', Courier, monospace;
    color: #777;
    background:#777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}

header {
    background-color: #ebebeb;
    padding: 20px;
    height: 20px;
    margin-bottom: 10px;
}
nav {
    background-color: #ebebeb;
    padding: 20px;
    height: 20px; 
    margin-bottom: 20px;   
}
/* --------------- box within a box ----------*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
section {
    background-color: #ebebeb;
    margin-bottom: 20px;
    height: 300px;
    float: left;
}
article {
    background-color: #777;
    color: #ebebeb;
    margin-top: 20px;
}
h1 {
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 400px;
}
p {
    background-color: bisque;
    color: cornflowerblue;
    margin-bottom: 20px;
    padding: 40px;
}
/* -------------- Aside ------------------*/
aside {
    background-color: powderblue;
    width: 400px;
    height: 100px;
    margin-bottom: 20px;
    float: left;
}
/*-------------------END------------------*/
footer {
    background-color: #ebebeb;
    height: 50px;
    padding: 20px;
}