/**---------------------------**/

body {
    font-family: 'Courier New', Courier, monospace;
    color: #777;
    background:#777;
    width: 960px;
    font-size: 18px;
}

header {
    background-color: #ebebeb;
    padding: 20px;
    height: 20px;
    margin-bottom: 10px;
}
nav {
    background-color:aqua;
    padding: 20px;
    height: 20px; 
    margin-bottom: 10px;   
}
section {
    background-color:greenyellow;
}
aside {
    background-color: powderblue;
    float: right;
}
h1 {
    background-color: orange;
    color: coral
}
p {
    background-color: bisque;
    color: cornflowerblue
}
footer {
    background-color: #ebebeb;
}